.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    gap: 10px;
    margin-top: 10px;
}

/*alle kleuren voor bouwblokken*/
body {
    background-color: #19181B;
}

nav {
    background-color: #2B1F3B;
}

header {
    background-color: #2B1F3B;
}

.cardbg {
    background-color: #2b1f3bfc;
    border-width: 3px;
    border-style: solid;
    border-color: #352747df;
    animation: fade 1s ease-in;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*alle tekst opties*/
p {
    color: #f0f0fa;
    font-family: 'Lucida console', monospace;
    font-size: 16px;
}
.titel {
    color: #fbffe2;
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
}
.subtitel {
    color: #f8f8e5;
    font-family: 'Lucida console', monospace;
    font-size: 32px;
}
.cardtekst {
    color: #2B1F3B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.deftekst {
    color: #F0F0FA;
    font-family: 'Lucida console', monospace;
    font-size: 16px;
}

/* img opties */

.cardimg {
    max-height: 200px;
    max-width: auto;
    object-fit: cover;
}

.buttonanim {
    animation: fade 0.5s ease-in;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #2B1F3B;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #2B1F3B; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#2b1f3b;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#422b61; }

select {
    color:#2b1f3b;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #2B1F3B;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }