.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    gap: 10px;
    margin-top: 10px;
}

/*alle kleuren voor bouwblokken*/
body {
    background-color: #19181B;
}

nav {
    background-color: #2B1F3B;
}

header {
    background-color: #2B1F3B;
}

.cardbg {
    background-color: #2b1f3bfc;
    border-width: 3px;
    border-style: solid;
    border-color: #352747df;
    animation: fade 1s ease-in;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*alle tekst opties*/
p {
    color: #F0F0FA;
    font-family: 'Lucida console', monospace;
    font-size: 12px;
}
.titel {
    color: #fbffe2;
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
}
.subtitel {
    color: #f8f8e5;
    font-family: 'Lucida console', monospace;
    font-size: 18px;
}
.cardtekst {
    color: #2B1F3B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

/* img opties */

.cardimg {
    max-height: 200px;
    max-width: auto;
    object-fit: cover;
}

.buttonanim {
    animation: fade 3s ease-in;
}