/*alle kleuren voor bouwblokken*/
body {
    background-color: #19181B;
}

nav {
    background-color: #2B1F3B;
}

header {
    background-color: #2B1F3B;
}

.cardbg {
    background-color: #2b1f3bfc;
    outline-width: 4px;
    outline-color: #2b1f3be0;
    height: 300;
    width: 250;
}


/*alle tekst opties*/
p {
    color: #F0F0FA;
    font-family: 'Lucida console', monospace;
    font-size: 16px;
}
.titel {
    color: #fbffe2;
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
}
.subtitel {
    color: #f8f8e5;
    font-family: 'Lucida console', monospace;
    font-size: 18px;
}
.cardtekst {
    color: #2B1F3B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

/* img opties */

.cardimg {
    height: auto;
    width: auto;
}